{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <script>
    $(document).ready(function(){
        $('#rows_count').change(function(){
            var rows_count = $('#rows_count option:selected').text();
            window.location.href = '/user-tasks?page={{page|json_encode()}}&rows_count=' + rows_count;            
        });
    });
    </script>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <div class="container fill">

        <h1 class="h3 mb-3 font-weight-normal">User: {{ username }} tasks</h1>

        <div>

            <div class="row" style="margin-top: 20px;">
            <table>
                <tr>
                    <td><a href="/user-tasks?page=0&rows_count={{rows_count}}"><span style="color:blue"><b>Begin</b></span></a></td><td>;</td>

                {% for page_nr, limit in pagination_arr %}
                    {% if page == page_nr %}
                        <td><a href="/user-tasks?page={{page_nr}}&rows_count={{rows_count}}"><span style="color:red"><b>{{page_nr}}</b></span></a></td><td>;</td>
                    {% endif %}
                    {% if page != page_nr %}
                        <td><a href="/user-tasks?page={{page_nr}}&rows_count={{rows_count}}">{{page_nr}}</a></td><td>;</td>
                    {% endif %}
                {% endfor %}

                    <td><a href="/user-tasks?page={{pages_count}}&rows_count={{rows_count}}"><span style="color:blue"><b>End</b></span></a></td><td>;</td>
                </tr>
            </table>

            <select name="rows_count" id="rows_count">
                <option value="5" {% if rows_count == 5 %}{{'selected'}}{% endif %}>5</option>
                <option value="10" {% if rows_count == 10 %}{{'selected'}}{% endif %}>10</option>
                <option value="20" {% if rows_count == 20 %}{{'selected'}}{% endif %}>20</option>
                <option value="100" {% if rows_count == 100 %}{{'selected'}}{% endif %}>100</option>
            </select>

        </div>
        <div class="row" style="margin-top: 20px;">
            <table class="table" id="data-table">
                <tr>
                    <th>id</th>
                    <th>startFrom</th>
                    <th>endDateTime</th>
                    <th>title</th>
                    <th>dateTimeSpent</th>
                    <th>Complete</th>
                </tr>
                {% for row in tasks_arr_ob %}
                    <tr>
                        <td>{{row.id}}</td>  
                        {% if row.startFrom %}
                            <td>{{row.startFrom|date('Y-m-d H:i:s')}}</td> 
                        {% else %}
                            <td>-</td> 
                        {% endif %}
                        {% if row.endDateTime %}
                            <td>{{row.endDateTime|date('Y-m-d H:i:s')}}</td>                  
                        {% else %}
                            <td>-</td> 
                        {% endif %}
                        <td>{{row.title}}</td>                  
                        <td>{{row.dateTimeSpent}}</td>
                        {% if row.endDateTime %}    
                            <td>&#x2713;</td>
                        {% else %}
                            <td><a href="/complete-task?id={{row.id}}&page={{page}}&rows_count={{rows_count}}">Complete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}